@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $Cream;
    font-family: 'Montserrat';
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    position: relative;
    >.attribution{ 
        font-size: 12px;
        position: absolute;
        bottom: 0;
        width:100%;
        text-align: center;
        a{
            color: hsl(228, 45%, 44%); 
        }
    }
}
